<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userBase">
            <h2><span jhiTranslate="demo6App.userBase.detail.title">User Base</span> {{ userBase.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="demo6App.userBase.username">Username</span></dt>
                <dd>
                    <span>{{ userBase.username }}</span>
                </dd>
                <dt><span jhiTranslate="demo6App.userBase.phone">Phone</span></dt>
                <dd>
                    <span>{{ userBase.phone }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-base', userBase.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
